html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 156px;
}

.header {
    background-color: #4694DC;
    min-height: 500px;
    padding-top: 67px;
    padding-bottom: 67px;
    color: #fff;
}

.header_title {
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 35px;
}
.header_text {
    font-size: 16px;
    font-weight: 400;
    max-width: 390px;
    line-height: 24px;
    margin-bottom: 47px;
}
.header_button {
    width: 194px;
    height: 60px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

/* Block */
.services .block {
    text-align: center;
    margin-bottom: 118px;
}
.block_title {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    margin-bottom: 25px;
}
.block_text {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 400;
    color: #9CA3AF;
    max-width: 465px;
    margin: 0 auto;
}
/* Services */
.services {
    padding: 71px 0 171px;
}
.services_items {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    max-width: 888px;
    margin: 0 auto;
}
.item {
    max-width: 280px;
    width: 100%;
    height: 116px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services_items_img {
    align-self: center;
}
.services_items_title {
    font-size: 16px;
    font-weight: 400;
    color: #9CA3AF;
}

/* Team */
.team .block {
    text-align: center;
    margin-bottom: 80px;
}
.team {
    padding-bottom: 130px;
}
.team_items {
    display: flex;
    justify-content: space-between;
    width: 880px;
    margin: 0 auto;
    gap: 50px;
}
.team_item {
    display: flex;
    padding: 20px;
    background-color: #fff;
    max-width: 260px;
    width: 100%;
    height: 76px;
    border-radius: 11px;
    align-items: center;
    box-shadow: 0px 4px 70px 0 rgba(91, 93, 99, 0.06);
}
.team_img {
    align-self: center;
    margin-right: 8px;
}

.team_title {
    font-size: 12px;
    margin-bottom: 3px;
    margin-top: 5px;
}
.team_text {
    margin-top: 0;
    font-size: 11px;
    color: #9CA3AF;
    font-style: italic;
}

/* Media */
@media screen and (max-width: 1366px) {
    .team .container {
        padding: 0 15px;
    }
}

@media screen and (max-width: 1024px) {
    .team_items {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    .services_items {
        flex-direction: column;
        align-items: center;
    }
    .services_items_title {
        font-size: 14px;
    }
    .header_button {
        width: 160px;
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .header_title {
        font-size: 36px;
    }
    .team_items {
        width: 200px;
        flex-direction: column;
        align-items: center;
    }
    .team_item {
        width: 120px;
    }
}